<a href="https://colab.research.google.com/github/gsoham7/DL/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=8ab19af5fd19152fb609b7b3d1b57fd09727284daa0fb786e2aaa9229a61cea9
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [ ]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
import pyspark
from pyspark.rdd import RDD
from pyspark.sql import Row
from pyspark.sql import DataFrame
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql import functions
from pyspark.sql.functions import lit, desc, col, size, array_contains\
, isnan, udf, hour, array_min, array_max, countDistinct
from pyspark.sql.types import *

from pyspark.ml import Pipeline
from pyspark.sql.functions import mean, col, split, col, regexp_extract, when, lit

Step 2:Upload purchases.csv to use as sample data.

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Purchase - Purchase.csv to Purchase - Purchase.csv

Step 3: Create a spark container by calling SparkSession.

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *

# Create session in order to be capable of accessing all Spark API
spark = SparkSession \
    .builder \
    .appName("Purchase") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [ ]:
#define data schema file we want to read
purchaseSchema = StructType([
    StructField("Date", DateType(), True),
    StructField("Time", StringType(), True),
    StructField("City", StringType(), True),
    StructField("Item", StringType(), True),
    StructField("Total", FloatType(), True),
    StructField("Payment", StringType(), True),
])

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

# Create Spark session
spark = SparkSession.builder.appName("Purchase").getOrCreate()

# Define schema
purchaseSchema = StructType([
    StructField("Date", StringType(), True),
    StructField("Time", StringType(), True),
    StructField("City", StringType(), True),
    StructField("Item", StringType(), True),
    StructField("Total", IntegerType(), True),
    StructField("Payment", StringType(), True)
])

# Read the CSV file with defined schema and show 3 rows
purchaseDataframe = spark.read.csv(
    "/content/Purchase - Purchase.csv",  # Adjusted file path to point to the correct location
    header=True,
    schema=purchaseSchema,
    sep=","  # Use a comma as the delimiter, since it's not tab-delimited
)

# Show 3 rows of the DataFrame
purchaseDataframe.show(3)

+----------+----+----------+----------------+-----+-------+
|      Date|Time|      City|            Item|Total|Payment|
+----------+----+----------+----------------+-----+-------+
|2012-01-01|9:00|  San Jose|  Men's Clothing| NULL|   Amex|
|2012-01-01|9:00|Fort Worth|Women's Clothing| NULL|   Visa|
|2012-01-01|9:00| San Diego|           Music| NULL|   Cash|
+----------+----+----------+----------------+-----+-------+

Step 5: Count Number of Rows of our DataFrame.

In [ ]:
#count number of rows of our dataFrame
num_rows = purchaseDataframe.count()
print("number of rows: ", num_rows)

number of rows:  3

Step 6: Show our DataFrame schema

In [ ]:
#show our dataFrame schema
purchaseDataframe.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Item: string (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Payment: string (nullable = true)

Step 7: Show statistics of the data we want.

In [ ]:
#show statistic of the data we wanta
purchaseDataframe.describe('Total').show()

+-------+-----+
|summary|Total|
+-------+-----+
|  count|    0|
|   mean| NULL|
| stddev| NULL|
|    min| NULL|
|    max| NULL|
+-------+-----+

Step 8: Creating a new dataFrame from a subset of existing dataFrame.

In [ ]:
purchaseDataframe.select('City').distinct().count()

3

Step 9: Create new DataFrame from "City" and "Total" columns.

In [ ]:
#create new dataFrame from "City" and "Total" columns
newDataframe = purchaseDataframe.select(purchaseDataframe['City'],
                                        purchaseDataframe['Total'])

# top 10 rows
newDataframe.show(3)
print('=================================')
# schema of dataframe
newDataframe.printSchema()

+----------+-----+
|      City|Total|
+----------+-----+
|  San Jose| NULL|
|Fort Worth| NULL|
| San Diego| NULL|
+----------+-----+

=================================
root
 |-- City: string (nullable = true)
 |-- Total: integer (nullable = true)

Filter only row data whose "Total" column value > 300

In [ ]:
#filter only row data whose "Total" column value > 300
purchaseDataframe.filter(purchaseDataframe['Total'] > 300).show(5)

+----+----+----+----+-----+-------+
|Date|Time|City|Item|Total|Payment|
+----+----+----+----+-----+-------+
+----+----+----+----+-----+-------+

Step 10: Pyspark Sorting DataFrame by City column

In [ ]:
# sorting dataframe by city
sortedByCity = purchaseDataframe.orderBy('City').show(3)

+----------+----+----------+----------------+-----+-------+
|      Date|Time|      City|            Item|Total|Payment|
+----------+----+----------+----------------+-----+-------+
|2012-01-01|9:00|Fort Worth|Women's Clothing| NULL|   Visa|
|2012-01-01|9:00| San Diego|           Music| NULL|   Cash|
|2012-01-01|9:00|  San Jose|  Men's Clothing| NULL|   Amex|
+----------+----+----------+----------------+-----+-------+

Step 11: Calculating number of transactions in each city.

In [ ]:
numTransactionEachCity = purchaseDataframe.groupBy("City").count()
numTransactionEachCity.show(3)

+----------+-----+
|      City|count|
+----------+-----+
| San Diego|    1|
|  San Jose|    1|
|Fort Worth|    1|
+----------+-----+

Step 12: Since Spark dataFrame is distributed into clusters, we cannot access it by
[row,column] as we can do in pandas dataFrame for example. There is an alternative way
to do that in Pyspark by creating a new column "index". Then, we can use the ".filter()"
function on our "index" column.
Then,

In [ ]:
#import monotonically_increasing_id
from pyspark.sql.functions import monotonically_increasing_id

newPurchasedDataframe = purchaseDataframe.withColumn(
    "index", monotonically_increasing_id())
newPurchasedDataframe.show(10)

row2Till4 = newPurchasedDataframe.filter((newPurchasedDataframe['index']>=2) &
                                        (newPurchasedDataframe['index']<=4))
# The line below had an extra indent. I've removed it to align with the previous line.
row2Till4.show()

+----------+----+----------+----------------+-----+-------+-----+
|      Date|Time|      City|            Item|Total|Payment|index|
+----------+----+----------+----------------+-----+-------+-----+
|2012-01-01|9:00|  San Jose|  Men's Clothing| NULL|   Amex|    0|
|2012-01-01|9:00|Fort Worth|Women's Clothing| NULL|   Visa|    1|
|2012-01-01|9:00| San Diego|           Music| NULL|   Cash|    2|
+----------+----+----------+----------------+-----+-------+-----+

+----------+----+---------+-----+-----+-------+-----+
|      Date|Time|     City| Item|Total|Payment|index|
+----------+----+---------+-----+-----+-------+-----+
|2012-01-01|9:00|San Diego|Music| NULL|   Cash|    2|
+----------+----+---------+-----+-----+-------+-----+

In [ ]:
#particular column value
dataRow2ColumnTotal = newPurchasedDataframe.filter(newPurchasedDataframe['index']==2).select('Total')
dataRow2ColumnTotal.show()

+-----+
|Total|
+-----+
| NULL|
+-----+

In [ ]:
purchaseDataframe.filter(purchaseDataframe.City.isNull()).show()

+----+----+----+----+-----+-------+
|Date|Time|City|Item|Total|Payment|
+----+----+----+----+-----+-------+
+----+----+----+----+-----+-------+

Step 13: Drop duplicate rows and count the number of duplicate rows in Pyspark

In [ ]:
#count the number of original data rows
n1 =purchaseDataframe.count()
print("number of original data rows: ", n1)
#count the number of data rows after deleting duplicated data
n2 = purchaseDataframe.dropDuplicates().count()
print("number of data rows after deleting duplicated data: ", n2)
n3 = n1 - n2
print("number of duplicate rows: ", n3)

number of original data rows:  3
number of data rows after deleting duplicated data:  3
number of duplicate rows:  0

Step 14: Delete row if there is at least one (column) missing data.

In [ ]:
PurchaseNoMissingValue = purchaseDataframe.dropDuplicates().dropna(
how="any")# use how="all" for missing data in the entire column
#The assignment should be aligned with the previous line
numberOfMissingValueAny = n1 - PurchaseNoMissingValue.count()
print("number of rows with missing data: ", numberOfMissingValueAny)

number of rows with missing data:  3

In [ ]:
purchaseDataframe.show(3)

+----------+----+----------+----------------+-----+-------+
|      Date|Time|      City|            Item|Total|Payment|
+----------+----+----------+----------------+-----+-------+
|2012-01-01|9:00|  San Jose|  Men's Clothing| NULL|   Amex|
|2012-01-01|9:00|Fort Worth|Women's Clothing| NULL|   Visa|
|2012-01-01|9:00| San Diego|           Music| NULL|   Cash|
+----------+----+----------+----------------+-----+-------+

Step 15: Pyspark Calculate Column Mean

In [ ]:
meanTotal = purchaseDataframe.groupBy().avg("Total").take(1) [0][0]
print('Mean total:',meanTotal)

Mean total: None